* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/alt.xsl -text
/apertium-fr-pt.fr-pt.dix -text
/apertium-fr-pt.fr-pt.t1x -text
/apertium-fr-pt.fr-pt.t2x -text
/apertium-fr-pt.fr-pt.t3x -text
/apertium-fr-pt.fr.acx -text
/apertium-fr-pt.fr.metadix -text
/apertium-fr-pt.fr.tsx -text
/apertium-fr-pt.post-fr.dix -text
/apertium-fr-pt.post-pt.dix -text
/apertium-fr-pt.pt-fr.t1x -text
/apertium-fr-pt.pt-fr.t2x -text
/apertium-fr-pt.pt-fr.t3x -text
/apertium-fr-pt.pt.acx -text
/apertium-fr-pt.pt.dix -text
/apertium-fr-pt.pt.tsx -text
/autogen.sh -text
/buscaPar.xsl -text
/configure.ac -text
dev/apertium-fr-pt.fr.metadix -text
dev/apertium-fr-pt.pt.dix -text
dev/cross-model-fr-es-pt.xml -text
dev/cross.xml -text
dev/dics/frpt.dic -text
dev/dics/ptfr.dic -text
dev/getsample.pl -text
dev/inconsistency-summary.sh -text
dev/inconsistency.sh -text
dev/interwiki.noun.pt-fr -text
dev/interwiki.pl -text
dev/mediawiki.pl -text
dev/npfix.pl -text
dev/patterns-not-detected.xml -text
dev/pending.pl -text
dev/quikfix.pl -text
dev/quikscan.pl -text
dev/quikwiki.pl -text
dev/roundup-corpus.pl -text
dev/roundup-paragraph.pl -text
dev/sample.fr -text
dev/sample.pt -text
dev/scan-samples.pl -text
dev/scan.pl -text
dev/summary -text
dev/test-samples.sh -text
dev/test.sh -text
dev/testvoc-summary.fr-pt.txt -text
dev/testvoc-summary.pt-fr.txt -text
dev/testvoc.sh -text
dev/verify.sh -text
/filter.sh -text
/filter.xsl -text
/filterrules.xsl -text
/fr-pt.prob -text
/modes.xml -text
/pending-tests.sh -text
/principal.xsl -text
/pt-fr.prob -text svneol=unset#unset
/regression-tests.sh -text
/test.sh -text
/translate-to-default-equivalent.xsl -text
/wiki-tests.sh -text
/xmlchk.pl -text
