* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-fra-por.fra-por.dix -text
/apertium-fra-por.fra-por.t1x -text
/apertium-fra-por.fra-por.t1x-old -text
/apertium-fra-por.fra-por.t2x -text
/apertium-fra-por.fra-por.t3x -text
/apertium-fra-por.fra.acx -text
/apertium-fra-por.fra.metadix -text
/apertium-fra-por.fra.tsx -text
/apertium-fra-por.por-fra.t1x -text
/apertium-fra-por.por-fra.t1x-old -text
/apertium-fra-por.por-fra.t2x -text
/apertium-fra-por.por-fra.t3x -text
/apertium-fra-por.por.acx -text
/apertium-fra-por.por.dix -text
/apertium-fra-por.por.tsx -text
/apertium-fra-por.post-fra.dix -text
/apertium-fra-por.post-por.dix -text
/autogen.sh -text
/buscaPar.xsl -text
/configure.ac -text
dev/apertium-fr-pt.fr.metadix -text
dev/apertium-fr-pt.pt.dix -text
dev/cross-model-fr-es-pt.xml -text
dev/cross.xml -text
dev/dics/frpt.dic -text
dev/dics/ptfr.dic -text
dev/getsample.pl -text
dev/inconsistency-summary.sh -text
dev/inconsistency.sh -text
dev/interwiki.noun.pt-fr -text
dev/interwiki.pl -text
dev/mediawiki.pl -text
dev/npfix.pl -text
dev/patterns-not-detected.xml -text
dev/pending.pl -text
dev/quikfix.pl -text
dev/quikscan.pl -text
dev/quikwiki.pl -text
dev/roundup-corpus.pl -text
dev/roundup-paragraph.pl -text
dev/sample.fr -text
dev/sample.pt -text
dev/scan-samples.pl -text
dev/scan.pl -text
dev/summary -text
dev/test-samples.sh -text
dev/test.sh -text
dev/testpending.pl -text
dev/testvoc-summary.fr-pt.txt -text
dev/testvoc-summary.pt-fr.txt -text
dev/testvoc.sh -text
dev/verify.sh -text
/fra-por.prob -text
/modes.xml -text
/por-fra.prob -text svneol=unset#unset
/principal.xsl -text
t/README.org -text
t/config.sh -text
t/latest-pending.results -text
t/latest-regression.results -text
t/pending-tests -text
t/regression-tests -text
t/update-latest -text
t/wiki-tests -text
/test.sh -text
/translate-to-default-equivalent.xsl -text
/xmlchk.pl -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
