/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/apertium-fra-por.fra.dix
/autom4te.cache
/config
/config.in
/config.log
/config.status
/configure
/eco-fra-por.mode
/eco-por-fra.mode
/fra-por.autobil.bin
/fra-por.autogen.bin
/fra-por.automorf.bin
/fra-por.autopgen.bin
/fra-por.dix
/fra-por.mode
/fra-por.t1x.bin
/fra-por.t2x.bin
/fra-por.t3x.bin
/fra.dix
/install-sh
/missing
/modes
/por-fra.autobil.bin
/por-fra.autogen.bin
/por-fra.automorf.bin
/por-fra.autopgen.bin
/por-fra.mode
/por-fra.t1x.bin
/por-fra.t2x.bin
/por-fra.t3x.bin
/por.dix
/stamp-h1
t/.git
t/Pending_tests.html
t/Regression_tests.html
/*.bin
/ap_include.am
/test/*-output.txt
